.row {
    display: flex; /* Use flexbox to create a row layout */
    align-items: center; /* Vertically center align items */
  }
.logo {
    width: 10%;
    margin-right:10px;
}
h1 { color: #0E42C8;
    font-size: 36;
    font-weight: bold;
    text-align: center;
    margin-left: 477px;
}
